<!-- Responsive panel example-->

<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><%= @director.name %></h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <dl class="dl-horizontal">
              <dt> </dt>
              <dd><img src="<%= @director.image_url %>" class="thumbnail center-block"></dd>

              <dt></dt>
              <dd><%= @director.bio %></dd>

              <dt></dt>
              <dd>Birthday: <%= @director.dob %></dd>

            </dl>
            <div class="btn-group btn-group-justified">
              <a href="/directors" class="btn btn-primary">
                <i class="fa fa-chevron-left"></i>
              </a>

              <a href="/directors/<%= @director.id %>/edit" class="btn btn-warning">
                <i class="fa fa-edit"></i>
              </a>

              <a href="/delete_director/<%= @director.id %>" class="btn btn-danger" rel="nofollow">
                <i class="fa fa-trash-o"></i>
              </a>
            </div>
          </div>
        </div>

        <ul class="list-group">


          <% @director.movies.each do |movie| %>
            <li class="list-group-item"> <%= movie.title %></li>
          <% end %>

        </ul>

      </div>
    </div>
  </div>
</div>

<!-- End responsive panel example -->
